a {
    text-decoration: none;
    color: white;
    border: 2px solid #5dade2;
    padding: 10px;
    border-radius: 20px;
}

a:hover {
    background-color: #5dade2;
    color: black;
    transition-duration: .3s;
    cursor: pointer;
}