div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition-duration: .3s;
}

a:hover {
    color: #5dade2;
}